@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: 'Ac437 IBM MDA';
    src: url('/fonts/Ac437_IBM_MDA.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
	font-family: "Terminus";
	src: url('/fonts/TerminusTTF-4.49.3.ttf') format('truetype');
}

/* This file is for your main application CSS */
html,
body {
    @apply bg-black w-full h-full;
    font-family: 'Terminus', monospace !important;
}

body > div {
    @apply h-full w-full;
}

.cmd-display {
    @apply flex-grow bg-stone-900 m-2 border border-amber-500;
}

input.terminal-input {
    @apply bg-stone-900 caret-amber-400 outline-none flex-grow text-xl border-0;
}

input.terminal-input:focus {
    @apply outline-none border-none ring-transparent;
}

.terminal-wrapper {
    @apply flex align-middle m-2 bg-stone-900 border border-amber-500;
}

.terminal-wrapper::before {
    @apply w-fit text-3xl p-1;
    content: ">";
}
