<div class="flex w-full h-full flex-col justify-end">
    <div class="cmd-display">
    </div>
    <form class="w-full" phx-submit="proc">
        <div class="terminal-wrapper">
            <input
                class="terminal-input"
                type="text"
                name="terminal"
                phx-change="term_input"
                value={@term_input}
            />
        </div>
    </form>
</div>
